body {
	padding-top: 60px;
}

footer {
	margin-top: 50px;
	padding-top: 20px;
	text-align: center;
	border-top: 1px solid #e5e5e5;
	background-color: #f5f5f5;
	padding-bottom: 30px;
}

footer ul {
	text-align: left;
}

footer ul li {
	margin-left: auto;
	margin-right: auto;
	width: 12%;
}

.main-content {
	min-height: 30rem;
}

form {
	margin-bottom: 0px;
}