{% extends 'layout.html' %} {% block title %} {% trans %}Anguine:
About{% endtrans %} {% endblock %} {% block body %}

<h1>About</h1>

<p>Anguine is a template application. It is a base for building web
	applications with the following characteristics:</p>

<ul>
	<li>3 tier application, with javascript client side, server side
		and app-engine backend.</li>
	<li>Publish public meaningful urls, that include application data.</li>
	<li>Allows for search engine indexing.</li>
	<li>Predefined design based on bootstrap.</li>
	<li>Client side implemented with angular.js.</li>
	<li>Server side implemented on python on google app-engine.</li>
	<li>Server side templates with jinja.</li>
	<li>Some pre-built screens: index, main, about, login and contact
		form.</li>
</ul>
<p>Anguine is a template for building applications in the same way
	an office-word template. If it matches your needs, just program and
	fill the missing gaps.</p>
<p>If you just a need a framework: check the components that anguine
	uses or check any good framework.</p>

{% endblock %}

