<!DOCTYPE html>

<html ng-app>

<head>
<title>{% block title %}anguine: template application{% endblock %}</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- CSS -->
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/bootstrap-responsive.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet" type="text/css">

</head>

<body>

	{%block document%}
	   
	   {% block header %}
		<div class="navbar navbar-inverse navbar-fixed-top">
		
		  <div class="navbar-inner">
		
		    <div class="container">
		
		      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		        <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
		      </button>
		
		      <a class="brand" href="/">Anguine</a>
		
		      <div class="nav-collapse collapse">
		        <ul class="nav">
		          {% if user %}
		          <li><a href="/main">Main</a></li>
		          {% endif %}
		          <li><a href="/about">About</a></li>
		          <li><a href="/contact">Contact</a></li>
		        </ul>
		      </div>
		      <!--/.nav-collapse -->
		
		      <div class="nav-collapse collapse pull-right">
		        <ul class="nav">
		          <li>
		            {% if not user %}
		            <a href="{{url}}">Login</a>
		            {% else %}
		            <a href="{{url}}">Logout</a>
		            {% endif %}
		          </li>
		        </ul>
		      </div>
		
		    </div>
		
		  </div>
		
		</div>
	   {% endblock %}

	<div class="container main-content">
	   {% block body %}
	   {% endblock %}
	</div>
	
    {% block footer %}
    <footer class="footer">
       <p>&copy; Anguine application template 2013</p>
       <p>Built with:</p>
       <ul>
         <li><a href="http://twitter.github.io/bootstrap/">bootstrap</a></li>
         <li><a href="http://angularjs.org/">angular.js</a></li>
         <li><a href="http://underscorejs.org/">underscore.js</a></li>
         <li><a href="http://www.python.org/">python</a></li>
         <li><a href="http://werkzeug.pocoo.org/">werkzeug</a></li>
         <li><a href="http://wtforms.simplecodes.com/">wtforms</a></li>
         <li><a href="https://developers.google.com/appengine/">google app engine</a></li>
         <li><a href="https://code.google.com/p/appengine-rest-server/">appengine-rest-server</a></li>
         <li><a href="https://github.com/dound/gae-sessions">gae-sessions</a></li>
       </ul>
    </footer>
    {% endblock %}
	

	{%endblock%}

	<!-- JS LIBS -->
	<script
		src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
	<script
		src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
		
	<script src="/js/lib/bootstrap.js"></script>
    <script src="/js/lib/underscore.js"></script>

	<!-- SERVICES JS -->
	<script type="text/javascript" src="/js/services.js"></script>
	
	{% if script %}
    <!-- VIEW JS -->
	<script type="text/javascript" src="{{ url_for('js', file=script)}}"></script>
	{% endif %}

</body>

</html>
