{% extends 'layout.html' %}

{% block body %}

<section id="buttonHolder">

	<button id="manageSearchButton"
		class="imageButton sprite sprite-binocular" type="button"
		title="{% trans %}manage search engines{% endtrans %}"></button>

	<form id="searchDashboardItemsForm" action="/searchItem" method="get"
		style="display: inline;">
		<input id="searchText" name="itemName" maxlength="255" size="25"
			type="text" />
	</form>

	<button id="searchButton" class="imageButton sprite sprite-magnifier"
		type="button" title="{% trans %}search{% endtrans %}"></button>

	<button id="addApplication" class="imageButton sprite sprite-add hideSearch"
		type="button" title="{% trans %}add aplication{% endtrans %}"></button>

	<button id="addFolder" class="imageButton sprite sprite-folder_add hideSearch"
		type="button" title="{% trans %}create folder{% endtrans %}"></button>

	<button id="importLinks"
		class="imageButton sprite sprite-import button-right hideSearch" type="button"
		title="{% trans %}import links{% endtrans %}"></button>

</section>

<section id="navigation">
	<button id="up" class="imageButton sprite sprite-up_disabled"
		type="button" title="{% trans %}up{% endtrans %}"></button>

	<button id="home" class="imageButton sprite sprite-home" type="button"
		title="{% trans %}home{% endtrans %}"></button>

	<span id="path"></span>
</section>

<section>
	<div id="dashBoard">&nbsp;</div>
</section>

<div id="applicationFormHolder" class="formholder"
	style="display: none;">
	<ul id="tabs_addApplication" class="subsection_tabs">
		<li class="tab"><a href="#one">{% trans %}Add existing
				application{% endtrans %}</a></li>
		<li class="tab"><a href="#two">{% trans %}Add new
				application{% endtrans %}</a></li>
	</ul>
	<div id="one">
		<form id="searchApplicationForm" action="/searchApplication"
			class="uniForm" method="get">
			<fieldset>
				<div class="ctrlHolder" style="border: none;">
					<label for="nameSearch">{% trans %}Application name{%
						endtrans %}</label> <input type="text" id="nameSearch" name="nameSearch"
						value="" size="35" class="textInput">
					<p class="formHint">{% trans %}Application name to search in
						the DB.{% endtrans %}</p>
				</div>

				<div class="buttonHolder">
					<button type="button" class="primaryAction"
						id="cancelSearchAplication">{% trans %}Cancel{% endtrans
						%}</button>
					<button type="submit" class="primaryAction"
						id="submitSearchApplication">{% trans %}Search{% endtrans
						%}</button>
				</div>

				<div id="searchResults"></div>

			</fieldset>
		</form>
	</div>

	<div id="two">
		<form id="addApplicationForm" action="/addApplication" class="uniForm"
			method="post">
			<input type="hidden" name="applicationFolder" id="applicationFolder">
			<fieldset>
				<div class="ctrlHolder">
					<label for="name">{% trans %}Application name{% endtrans %}</label>
					<input type="text" id="name" name="name" value="" size="35"
						class="textInput">
					<p class="formHint">{% trans %}The name of the application.{%
						endtrans %}</p>
				</div>

				<div class="ctrlHolder">
					<label for="url">{% trans %}Url{% endtrans %}</label> <input
						type="text" id="url" name="_url" value="" size="35"
						class="textInput"> <input type="text" id="_url" name="url"
						value="" size="35" class="textInput" style="display: none;">
					<p class="formHint">{% trans %}The url of the application.{%
						endtrans %}</p>
				</div>

				<div class="ctrlHolder">
					<label for="private">{% trans %}Private{% endtrans %}</label> <input
						type="checkbox" id="private" name="private" class="textInput">
					<p class="formHint">{% trans %}Check if your application is
						private.{% endtrans %}</p>
				</div>

				<div class="ctrlHolder">
					<label for="description">{% trans %}Description{% endtrans
						%}</label>
					<textarea id="description" name="description" rows="25" cols="25"></textarea>
					<p class="formHint">{% trans %}A short description of the
						application.{% endtrans %}</p>
				</div>

				<div class="buttonHolder">
					<button type="button" class="primaryAction"
						id="cancelAddAplication">{% trans %}Cancel{% endtrans %}</button>
					<button type="submit" class="primaryAction">{% trans
						%}Save{% endtrans %}</button>
				</div>

			</fieldset>
		</form>
	</div>

</div>

<div id="folderContainer" class="formholder" style="display: none;">
	<form id="folderForm" action="/addFolder" class="uniForm" method="post">
		<input type="hidden" name="parentFolder" id="parentFolder">
		<fieldset>
			<div class="ctrlHolder">
				<label id="folderFormTitle">{% trans %}New folder{% endtrans
					%}</label>
				<p />
				<label for="folderName" id="folderNameLabel">{% trans
					%}Folder name{% endtrans %}</label> <input type="text" id="folderName"
					name="folderName" value="" size="35" class="textInput">
				<p class="formHint" id="folderNameFormHont">{% trans %}Folder
					name.{% endtrans %}</p>
			</div>

			<div class="buttonHolder">
				<button type="button" class="primaryAction" id="cancelFolder">{%
					trans %}Cancel{% endtrans %}</button>
				<button type="submit" class="primaryAction">{% trans
					%}Save{% endtrans %}</button>
			</div>
		</fieldset>
	</form>
</div>

<div id="preferencesContainer" class="formholder" style="display: none;">
	<form id="preferencesForm" action="/updateUserPreferences"
		class="uniForm" method="post">
		<fieldset>
			<div class="ctrlHolder">
				<label>{% trans %}Your preferences{% endtrans %}</label>
			</div>

			<div class="ctrlHolder">
				<label for="openAppsSameWindow">{% trans %}Open apps in same window{% endtrans %}</label> 
				<input type="checkbox" id="openAppsSameWindow"
					name="openAppsSameWindow" class="textInput">
				<p class="formHint">{% trans %}Open apps on your dashboard in the same browser window.{% endtrans %}</p>
			</div>

			<div class="ctrlHolder">
				<label>{% trans %}Language{% endtrans %}</label> <input type="radio"
					id="languageEnglish" name="language" value="en" class="textInput"><label
					for="languageEnglish">{% trans %}English{% endtrans %}</label> <input
					type="radio" id="languageSpanish" name="language" value="es"
					class="textInput"><label for="languageSpanish">{%
					trans %}Spanish{% endtrans %}</label>
				<p class="formHint">{% trans %}Choose the language{% endtrans %}</p>
			</div>

			<div class="buttonHolder">
				<button type="button" class="primaryAction" id="cancelPreferences">{%
					trans %}Cancel{% endtrans %}</button>
				<button type="submit" class="primaryAction">{% trans
					%}Save{% endtrans %}</button>
			</div>

		</fieldset>
	</form>
</div>

<div id="deleteContainer" class="formholder" style="display: none;">
	<form id="deleteForm" action="" class="uniForm" method="post">
		<input type="hidden" name="deleteId" id="deleteId">
		<fieldset>
			<div class="ctrlHolder">
				<label id="deleteFormTitle">{% trans %}Delete{% endtrans %}</label>
			</div>

			<div class="buttonHolder">
				<button type="button" class="primaryAction" id="cancelDelete">{%
					trans %}Cancel{% endtrans %}</button>
				<button type="submit" class="primaryAction">{% trans
					%}Save{% endtrans %}</button>
			</div>
		</fieldset>
	</form>
</div>

<div id="searchEngineContainer" class="formholder"
	style="display: none;">
	<form id="searchEngineForm" action="" class="uniForm" method="post">
		<fieldset>
			<div class="ctrlHolder">
				<label id="searchEngineFormTitle">{% trans %}Search
					engines{% endtrans %}</label>
			</div>

			<div id="seachEnginesCtrlHolder" class="ctrlHolder"></div>

			<div class="buttonHolder">
				<button type="button" class="primaryAction" id="cancelSearchEngine">{%
					trans %}Cancel{% endtrans %}</button>
				<button type="submit" class="primaryAction">{% trans
					%}Save{% endtrans %}</button>
			</div>
		</fieldset>
	</form>
</div>

<div id="importFileContainer" class="formholder" style="display: none;">
	<form id="importFileForm" action="/importFile"
		enctype="multipart/form-data" class="uniForm" method="post"
		target="upload_target">
		<fieldset>
			<div class="ctrlHolder">
				<label id="importFileFormTitle">{% trans %}Import Links{%
					endtrans %}</label>
			</div>

			<div id="importFileCtrlHolder" class="ctrlHolder">
				<input type="file" name="importFile" id="importFile" />
			</div>

			<div class="buttonHolder">
				<button type="button" class="primaryAction" id="cancelImportFile">{%
					trans %}Cancel{% endtrans %}</button>
				<button type="submit" class="primaryAction">{% trans
					%}Save{% endtrans %}</button>
			</div>
		</fieldset>
	</form>
	<iframe id="upload_target" name="upload_target" src=""
		style="width: 0; height: 0; border: 0px solid #fff;"></iframe>
</div>

{% endblock %}
