{% extends 'layout.html' %}

{% block body %}

{# Angular.js template #}
{% raw %}

<div ng-controller="MainCtrl">

  <h1>Your webwallet</h1>

  <button class="btn btn-primary" href="#addBtcAddressModal" role="button" data-toggle="modal">Add
    bitcoin address</button>

  <br> <br> <span ng-hide="addressCount">Your address list is empty</span>

  <table class="table table-striped table-bordered table-hover" ng-show="addressCount" ng-cloak>
    <thead>
      <tr>
        <th>Address</th>
        <th>Label</th>
        <th style="width: 3.5rem;">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="address in addresses" ng-cloak>
        <td>{{ address.name }}</td>
        <td>{{ address.label }}</td>
        <td class="text-center">
          <button class="btn btn-danger" href="#deleteBtcAddressModal" role="button" data-toggle="modal"
            ng-click="openRemoveBtcAddress(address)">
            <i class="icon-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Modal Add BTC Address -->
  <div id="addBtcAddressModal" class="modal hide fade" tabindex="-1" role="dialog"
    aria-labelledby="addBtcAddressModalLabel" aria-hidden="true">
    <form ng-submit="addBtcAddress()">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3 id="addBtcAddressModalLabel">Add bitcoin address</h3>
      </div>
      <div class="modal-body">
        <fieldset>
          <label>Bitcoin address</label> <input type="text" placeholder="Type your bitcoin address..."
            ng-model="newBtcAddress"> <span class="help-block">Type the bitcoin address that
            will be associated with you.</span> <label>Label</label> <input type="text"
            placeholder="Type a label for the bitcoin address..." ng-model="newBtcLabel"> <span
            class="help-block">Label your bitcoin address.</span>
        </fieldset>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary">Save changes</button>
      </div>
    </form>
  </div>

  <!-- Modal Delete BTC Address -->
  <div id="deleteBtcAddressModal" class="modal hide fade" tabindex="-1" role="dialog"
    aria-labelledby="deleteBtcAddressModalLabel" aria-hidden="true">
    <form ng-submit="confirmRemoveBtcAddress()">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3 id="deleteBtcAddressModalLabel">Delete bitcoin address?</h3>
      </div>
      <div class="modal-body">
        <fieldset>
          <label>Bitcoin address</label> <span class="help-block">{{removeBtcAddress.name}}</span>
        </fieldset>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-danger">Delete</button>
      </div>
    </form>
  </div>


</div>

{% endraw %}

{% endblock %}
